.content-area {
	width: $size__site-main;
	max-width: 100%;
}

.site-content .widget-area {
	overflow: hidden;
	flex: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: 100%;
}

.site-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}