.hero {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  height: 95vh;
  background-image: url('../images/IMG_8575.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, .66);
  opacity: 0.9;
  color: rgba(0, 0, 0, .75);
}

.hero.portraits {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/johannes-lesser-portfolio-effect.png'), url('../images/Lesser-Portrait-Hero.jpg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, scroll;
  opacity: 1;
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hero.landingpage {
  background-image: url('../images/IMG_9975.jpg');
}

.hero.landscapes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3vw;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/johannes-lesser-portfolio-effect.png'), url('../images/IMG_8575.jpg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, scroll;
  opacity: 1;
}

.logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50vw;
  height: 20vh;
  margin-top: 20vh;
  margin-left: 25vw;
  background-image: url('../images/Johannes-Lesser-Loigio.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu {
  position: relative;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu.secondmenu {
  height: 13vh;
  background-image: -webkit-linear-gradient(270deg, #f5f5f5, #f5f5f5);
  background-image: linear-gradient(180deg, #f5f5f5, #f5f5f5);
}

.menu.secondmenu.portfoliomenu {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.menu.secondmenu.blogmenu {
  margin-bottom: 3vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.menu-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 10px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.66;
  font-family: Lato, sans-serif;
  color: rgba(0, 0, 0, .5);
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
}

.menu-item:hover {
  padding-top: 12px;
  border-bottom: 1px solid #fff;
  border-radius: 2px;
  opacity: 0.75;
}

.menu-item.visiting {
  color: rgba(0, 0, 0, .9);
}

.menu-item.whitebg {
  color: rgba(0, 0, 0, .66);
}

.menu-item.second_menu_item {
  color: #ff725f;
}

.menu-item.second_menu_item:hover {
  border-bottom-color: #000;
}

.menu-item.second_menu_item.second_menu_item_portfolio {
  color: #bdbdbd;
}

.menu-item.second_menu_item.second_menu_item_blog {
  color: #575757;
}

.menuitems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.menuitems.second_menu_items {
  width: 50vw;
}

.socialmedia {
  position: absolute;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15vw;
  height: 100%;
  padding-top: 10px;
  padding-right: 3em;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.socialmedia.leftbar {
  left: 0px;
  top: 0px;
  right: auto;
  width: 20vw;
  padding-right: 0em;
  padding-left: 3em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.socialmedia.leftbar.blogmenu {
  position: static;
}

.socialmedia.leftbar.blogmenu.leftmenu {
  margin-right: 5vw;
  margin-left: 0vw;
}

.socialmedia.blogmenu {
  position: static;
  width: 20vw;
  margin-left: 5vw;
}

.sociallogo {
  width: 2em;
  height: 2em;
  margin-right: 1em;
  margin-left: 1em;
  background-image: url('../images/Asset-17.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.66;
}

.sociallogo:hover {
  opacity: 0.4;
}

.sociallogo.homelogo {
  width: 2em;
  height: 2em;
  background-image: url('../images/Johannes-Lessdr-Logo-icon.svg');
  background-position: 50% 50%;
  background-size: contain;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.sociallogo.second_menu_social {
  background-image: url('../images/insta-logo-orange.svg');
}

.subtitle {
  position: absolute;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 38vh;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.66;
  font-family: Lato, sans-serif;
  color: rgba(34, 34, 34, .5);
  font-size: 2em;
  font-weight: 600;
}

.sectionlast {
  margin-top: 85vh;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.column.one {
  padding-top: 6em;
  padding-bottom: 6em;
  padding-left: 4em;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
}

.column.one.bottom {
  padding-right: 4em;
  padding-left: 0em;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.column.one.blogsection {
  padding-left: 0em;
}

.column.one.contactcolumn {
  padding-left: 0em;
  background-image: -webkit-linear-gradient(270deg, #f5f5f5, #f5f5f5);
  background-image: linear-gradient(180deg, #f5f5f5, #f5f5f5);
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .25);
}

.column.one.portfolio {
  margin-top: 95vh;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  box-shadow: none;
}

.column.one.portfolio.columntwo {
  margin-top: 0vh;
  margin-bottom: 0vh;
  padding-top: 3vw;
  box-shadow: none;
}

.column.one.portfolio.thirdcolumn {
  margin-top: 0vh;
  margin-bottom: 6vh;
  padding-top: 3vw;
}

.column.one.portfolio.thirdcolumn.nodistance {
  margin-bottom: 0vh;
}

.column.one.blog {
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  box-shadow: none;
}

.column.one.blog {
  margin-bottom: 3vw;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  box-shadow: none;
}

.column.two {
  height: 20vh;
}

.herotwo {
  width: 18vw;
  height: 50vh;
  background-image: url('../images/IMG_9274-2.jpg');
  background-position: 52% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, .66);
  opacity: 1;
  color: rgba(0, 0, 0, .75);
}

.herotwo.portrait {
  background-image: url('../images/JSL02495.jpg');
}

.herotwo.blog {
  margin-right: 8vw;
  margin-left: 8vw;
  background-image: url('../images/JSL03200.jpg');
}

.herotwo.landscapehero {
  background-image: url('../images/IMG_9019.jpg');
}

.herotwo.first {
  margin-right: 2vw;
  background-image: url('../images/JSL01665.jpg');
}

.herotwo.first.landscapefirst {
  background-image: url('../images/IMG_9019.jpg');
}

.herotwo.first.landscapefirst.blogfourth {
  background-image: url('../images/DSC00211-1.jpg');
}

.herotwo.first.portraitfirst {
  background-image: url('../images/IMG_9019.jpg');
}

.herotwo.first.portraiteightth {
  background-image: url('../images/IMG_9019.jpg');
}

.herotwo.first.landscapeeigth {
  background-image: url('../images/IMG_9019.jpg');
}

.herotwo.first.landscapebottom {
  height: 22vw;
  margin-right: 4vw;
  background-image: url('../images/JSL03200.jpg');
}

.herotwo.first.landscapebottom.blogsixth {
  width: 25vw;
  height: 25vw;
  background-image: url('../images/johannes-lesser-hero-web.jpg');
}

.herotwo.first.blogfirst {
  width: 100%;
  margin-right: 0vw;
  margin-bottom: 3vh;
  background-image: url('../images/JSL01712-1.jpg');
  background-position: 50% 50%;
}

.herotwo.secondpic {
  width: 100%;
  height: 75%;
  background-image: url('../images/JSL01712-1.jpg');
  background-position: 50% 50%;
}

.herotwo.secondpic.landscapesecond {
  height: 80%;
  background-image: url('../images/johannes-lesser-hero-web.jpg');
}

.herotwo.secondpic.portraitsecond {
  height: 80%;
  background-image: url('../images/johannes-lesser-hero-web.jpg');
}

.herotwo.secondpic.portraitsixth {
  height: 80%;
  background-image: url('../images/johannes-lesser-hero-web.jpg');
}

.herotwo.secondpic.portraitnineth {
  height: 80%;
  background-image: url('../images/johannes-lesser-hero-web.jpg');
}

.herotwo.secondpic.portraitthirteenth {
  height: 80%;
  background-image: url('../images/johannes-lesser-hero-web.jpg');
}

.herotwo.secondpic.landscapesixth {
  height: 80%;
  background-image: url('../images/johannes-lesser-hero-web.jpg');
}

.herotwo.secondpic.landscapenineth {
  height: 80%;
  background-image: url('../images/johannes-lesser-hero-web.jpg');
}

.herotwo.secondpic.landscapethirteenth {
  height: 80%;
  background-image: url('../images/johannes-lesser-hero-web.jpg');
}

.herotwo.thirdpic {
  width: 50vh;
  background-image: url('../images/JSL03200.jpg');
}

.herotwo.thirdpic.landscpaethird {
  width: 55vh;
  height: 55vh;
  max-width: 56vw;
  background-image: url('../images/IMG_60441.jpg');
  background-position: 69% 50%;
}

.herotwo.thirdpic.portraitthird {
  width: 50vh;
  height: 50vh;
  background-image: url('../images/IMG_60441.jpg');
  background-position: 69% 50%;
}

.herotwo.thirdpic.portraitseventh {
  width: 41.5vw;
  height: 41.5vw;
  background-image: url('../images/IMG_60441.jpg');
  background-position: 69% 50%;
}

.herotwo.thirdpic.portraittenth {
  width: 50vh;
  height: 50vh;
  background-image: url('../images/IMG_60441.jpg');
  background-position: 69% 50%;
}

.herotwo.thirdpic.portraitfourteenth {
  width: 41.5vw;
  height: 41.5vw;
  background-image: url('../images/IMG_60441.jpg');
  background-position: 69% 50%;
}

.herotwo.thirdpic.landscpaeseventh {
  width: 50vh;
  height: 50vh;
  background-image: url('../images/IMG_60441.jpg');
  background-position: 69% 50%;
}

.herotwo.thirdpic.landscpaetenth {
  width: 50vh;
  height: 50vh;
  background-image: url('../images/IMG_60441.jpg');
  background-position: 69% 50%;
}

.herotwo.thirdpic.landscpaefourteenth {
  width: 50vh;
  height: 50vh;
  background-image: url('../images/IMG_60441.jpg');
  background-position: 69% 50%;
}

.herotwo.thirdpic.blogthird {
  width: 55vh;
  height: 55vh;
  max-width: 56vw;
  margin-bottom: 1.33em;
  background-image: url('../images/IMG_60441.jpg');
  background-position: 69% 50%;
}

.herotwo.thirdpic.blogthird.blogfifth {
  height: 31vh;
  background-image: url('../images/IMG_8533-1.jpg');
}

.herotwo.fourthpic {
  width: 36vw;
  height: 45vw;
  margin-right: 2vw;
  background-image: url('../images/JSL02495.jpg');
  background-position: 50% 100%;
}

.herotwo.fourthpic.landscapefourth {
  background-image: url('../images/DSC00211-1.jpg');
  background-position: 82% 50%;
}

.herotwo.fourthpic.portraitfourth {
  background-image: url('../images/DSC00211-1.jpg');
  background-position: 82% 50%;
}

.herotwo.fourthpic.portraiteleventh {
  background-image: url('../images/DSC00211-1.jpg');
  background-position: 82% 50%;
}

.herotwo.fourthpic.landscapeeleventh {
  background-image: url('../images/DSC00211-1.jpg');
  background-position: 82% 50%;
}

.herotwo.fifthpic {
  width: 45vw;
  height: 45vw;
  background-image: url('../images/JSL02200.jpg');
}

.herotwo.fifthpic.landscapefifth {
  background-image: url('../images/IMG_8533-1.jpg');
  background-position: 50% 50%;
}

.herotwo.fifthpic.portraitfifth {
  background-image: url('../images/IMG_8533-1.jpg');
  background-position: 50% 50%;
}

.herotwo.fifthpic.portraittwelveth {
  background-image: url('../images/IMG_8533-1.jpg');
  background-position: 50% 50%;
}

.herotwo.fifthpic.landscapetwelveth {
  background-image: url('../images/IMG_8533-1.jpg');
  background-position: 50% 50%;
}

.hero3 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, .15)), url('../images/IMG_8575.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, .15)), url('../images/IMG_8575.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, .5);
}

.hero3.portrait3 {
  background-image: -webkit-linear-gradient(270deg, transparent, transparent), url('../images/JSL02200.jpg');
  background-image: linear-gradient(180deg, transparent, transparent), url('../images/JSL02200.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.hero3.imprintbg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, transparent, transparent), url('../images/IMG_8533-1.jpg');
  background-image: linear-gradient(180deg, transparent, transparent), url('../images/IMG_8533-1.jpg');
  background-position: 0px 0px, 153% 153px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.title2 {
  margin-top: 0px;
  margin-right: 4em;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 700;
}

.title2.portraittitle {
  margin-right: 0em;
}

.title2.imprinttitle {
  margin-right: 0em;
  padding: 0.5em 1em;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .25);
  color: rgba(0, 0, 0, .8);
  font-size: 1em;
  text-decoration: none;
}

.title2.imprinttitle:hover {
  opacity: 0.8;
}

.title2.read_more_button {
  margin-top: 2em;
  margin-right: 0em;
  padding: 0.5em 1em;
  background-image: -webkit-linear-gradient(270deg, #f41a1a, #f41a1a);
  background-image: linear-gradient(180deg, #f41a1a, #f41a1a);
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .05);
  color: #fff;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}

.title2.read_more_button:hover {
  opacity: 0.8;
}

.title2.read_more_button.first_more_button {
  margin-top: 1.33em;
}

.title2.load_more_button {
  margin-top: 6em;
  margin-right: 0em;
  padding: 0.5em 1em;
  background-image: -webkit-linear-gradient(270deg, #377ce8, #377ce8);
  background-image: linear-gradient(180deg, #377ce8, #377ce8);
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .05);
  color: #fff;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}

.title2.load_more_button:hover {
  opacity: 0.8;
}

.title2.most_recent_badge {
  position: absolute;
  margin-right: 0em;
  padding: 0.5em 1em;
  background-image: -webkit-linear-gradient(270deg, #35bf37, #35bf37);
  background-image: linear-gradient(180deg, #35bf37, #35bf37);
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .05);
  color: #fff;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.title2.most_recent_badge:hover {
  opacity: 0.8;
}

.title3 {
  position: static;
  display: block;
  margin: auto;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.8;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: Lato, sans-serif;
  color: rgba(0, 0, 0, .75);
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.title3:hover {
  opacity: 0.33;
}

.title3.blogshare.m_left.blog {
  position: relative;
  bottom: 0vh;
  margin-left: -3.5vw;
}

.title3.m_left {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-left: -4vw;
}

.title3.m_left.landscapes {
  position: relative;
  margin-left: -3vw;
}

.title3.m_right {
  margin-right: -3vw;
}

.left_holder_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 18vw;
  height: 50vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.leftholder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15vw;
  padding-left: 2.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.leftholder.descriptionholder {
  width: auto;
  margin-right: 2vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.leftholder.portraitholder {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32vw;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Lato, sans-serif;
  color: rgba(0, 0, 0, .75);
  font-size: 1em;
  line-height: 1.75em;
  font-weight: 400;
}

.description.portraitdescription {
  text-align: right;
}

.description.blog_preview_text {
  width: 32vw;
  margin-left: 0em;
}

.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33vw;
  height: 10vh;
  margin: 0px 4em 0px 5em;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: Lato, sans-serif;
  color: rgba(0, 0, 0, .85);
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
}

.cta:hover {
  opacity: 0.5;
}

.cta.blogmore {
  margin-right: 0em;
  margin-left: 0em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.imprint {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.imprint.two {
  height: 20vh;
}

.blogholder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33vw;
  height: 50vh;
  padding-left: 4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.blogholder.right {
  width: 32vw;
  margin-right: 4em;
  padding-left: 0em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blogsubtitle {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Lato, sans-serif;
  color: rgba(0, 0, 0, .75);
  font-size: 1.25em;
  font-style: italic;
  font-weight: 400;
}

.sectionlasts {
  margin-top: 0vh;
}

.form-block {
  width: 33vw;
}

.body {
  overflow: scroll;
}

.title4_contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4em;
  margin-bottom: 1em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: Lato, sans-serif;
  color: rgba(0, 0, 0, .85);
  font-size: 1em;
  font-weight: 700;
}

.field {
  margin-bottom: 2.5em;
  opacity: 0.66;
  font-family: Lato, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.field.second {
  margin-bottom: 1.5em;
}

.submit-button {
  margin-bottom: 3vh;
  background-image: -webkit-linear-gradient(270deg, #ff725f, #ff725f);
  background-image: linear-gradient(180deg, #ff725f, #ff725f);
  box-shadow: 0 2px 10px 0 rgba(255, 114, 95, .76);
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.submit-button:hover {
  opacity: 0.75;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/DSC00211-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.image-2 {
  -webkit-filter: brightness(200%) brightness(200%) brightness(200%);
  filter: brightness(200%) brightness(200%) brightness(200%);
}

.heading {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 2em;
  font-weight: 600;
}

.text-block {
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 400;
}

.portfoliotitle {
  max-width: 33vw;
  margin-top: 15vh;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.9;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 5em;
  line-height: 1em;
  font-weight: 700;
  text-align: right;
}

.portfolio_text_holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33vw;
  padding-left: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.portfolio_text_holder.landscapeholder {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.subtitle_portfolio {
  max-width: 30vw;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.66;
  font-family: Lato, sans-serif;
  color: rgba(34, 34, 34, .5);
  font-size: 2em;
  line-height: 1.6em;
  font-style: italic;
  font-weight: 600;
  text-align: right;
}

.subtitle_portfolio.sub_subtitle {
  font-size: 1.5em;
  line-height: 1.5em;
  font-style: normal;
  font-weight: 300;
}

.mid_hero_holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-right: 2vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mid_hero_holder.third_column_cta {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.portfolio_pics_holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 83vw;
  margin-right: 2vw;
}

.portfolio_pics_holder.firstholder {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mid_hero_holder_portfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4vw;
  margin-bottom: 5vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.mid_hero_holder_portfolio.bottomholder {
  width: 90%;
}

.mid_hero_holder_portfolio.secondcolumn {
  padding-left: 2vw;
}

.blogtitle1 {
  margin-top: 0px;
  margin-bottom: 0.25em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 700;
}

.blogtitle1.rightaligned {
  text-align: right;
}

.blogtitle1.firsttext {
  width: 50vw;
  text-align: center;
}

.blog_text_hold {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 50vh;
  max-width: 20vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.blog_text_hold.secondblog {
  max-width: 55vh;
}

.blog_text_hold.right_aligned_holder {
  margin-right: 2vw;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.subtitle_blog {
  margin-top: 0px;
  margin-bottom: 0.1em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.66;
  font-family: Lato, sans-serif;
  color: rgba(34, 34, 34, .5);
  font-size: 1.5em;
  line-height: 1.6em;
  font-style: italic;
  font-weight: 600;
  text-align: left;
}

.subtitle_blog.sub_subtitle {
  color: #1d1d1d;
  font-size: 1.25em;
  line-height: 1.5em;
  font-style: normal;
  font-weight: 300;
}

.subtitle_blog.sub_subtitle.firsttext {
  text-align: center;
}

.subtitle_blog.rightaligned {
  text-align: right;
}

.subtitle_blog.firsttext {
  width: 50vw;
  text-align: center;
}

.right_hero_holder_portfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.search {
  display: none;
  width: 15vw;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.blogtime {
  margin-top: 0px;
  margin-bottom: 0.66em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.66;
  font-family: Lato, sans-serif;
  color: rgba(25, 72, 177, .5);
  font-size: 1em;
  line-height: 1.6em;
  font-style: italic;
  font-weight: 400;
  text-align: left;
}

