.blog, 
.single-post {
  .content-area {
    width: $size__post-content-width + $size__post-content-image-shift*2;
    max-width: 100%;
    flex-grow: 99999;
    padding: 0 $size__post-content-image-shift;
  }

  .site-content {
    font-size: $font__size-site-content;
  }

  .site-main {
    width: $size__post-content-width;
    max-width: 100%;
    margin: 0 auto 0 auto;

    .entry-content {
      margin-top: 1vh;
      font-weight: 300;
      .alignleft {
        margin-left: -$size__post-content-image-shift;
      }
      .alignright {
        margin-right: -$size__post-content-image-shift;
      }
    }
  }

  .entry-title {
    margin-top: 3vh;
    margin-bottom: 0.75vh;
    font-size: 1.6em;
  }

  .entry-footer {
    span {
      display: block;
      font-style: italic;
      font-size: smaller;
    }
  }

  .entry-meta {
    span {
      font-style: italic;
      font-size: smaller;
      color: $color__entry-meta;
      line-height: 1.6em;
    }
  }

  .post-attachment {
    margin-left: calc(-#{$size__post-content-image-shift} - 10px);
    width: calc(100% + (#{$size__post-content-image-shift} + 10px)*2);
    max-width: 100vw;

    img{
      margin: auto;
      display: block;
      max-width: 100%;
    }
  }

  .single-post-comments {
    min-height: 100px;

    ul {
      max-height: 0;
      overflow: scroll;
      transition: max-height 1s;

      margin: 0;
      padding: 0;
    }

    button {
      display: block;
      background: none;
      font-style: italic;
      font-size: inherit;
      margin: auto;

      padding-left: 0;
      padding-right: 0;

      border: 0 $color__link-hover solid;
      border-bottom-width: 3px;
      border-radius: 0;
    }

    .comments-area {
      display: none;
    }

    &.toggled {
      .comments-area {
        display: block;
      }
      ul {
        max-height: 2000px;
      }
    }
  }
}